Options -Indexes
RewriteEngine On

<FilesMatch "^(\.env|\.gitignore|README\.md|LICENSE)$">
    Require all denied
</FilesMatch>

RewriteRule ^$ public/ [L]
RewriteCond %{REQUEST_URI} !/public/
RewriteRule ^(.*)$ public/$1 [L]
